<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="jumbotron pt-0 pb-3 mb-0 text-center">
            <h1 class="display-3">Наши услуги</h1>
            <p class="lead mb-0">
              "Бровары Реклама" предоставляет широкий ассортимент рекламной продукции в Броварах любого типа и
              сложности. Наша компания предоставляет следующие типы услуг по предоставлению рекламы в Броварах.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>Архитектурные услуги
        </div>
        <div class="card-body"><p>Разработка проектно-технической документации на рекламу, паспорта фасадов,
            конструктивное решение любой сложности.</p>
          <button class="btn btn-link" type="button"><a href="/ru/услуги/архитектурные">Читать далее</a></button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>Наружная реклама
        </div>
        <div class="card-body"><p>Производство рекламных конструкций любой сложности: стеллы, бигборды, вывески, стенды,
            штендеры, лайтбоксы.</p>
          <button class="btn btn-link" type="button"><a href="/ru/услуги/наружная-реклама">Читать далее</a></button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>Порезка
        </div>
        <div class="card-body"><p>Осуществляем порезочные работы на специальном плоттере а так же на фрезерном
            станке.</p>
          <button class="btn btn-link" type="button"><a href="/ru/услуги/порезка">Читать далее</a></button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>Широкоформатная печать
        </div>
        <div class="card-body"><p>Печать на банернной ткани, самоклеющейся пленки, ламинация, плоттерная поразка,
            оклейка витрин и берендирование авто.</p>
          <button class="btn btn-link" type="button"><a href="/ru/услуги/широкоформатная-печать">Читать далее</a></button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>Реклама в Броварах
        </div>
        <div class="card-body"><p>Размещение рекламы в Броварском регионе и в Броварах на бордах, остановсках ,
            маршрутках, рекламных площадях.</p>
          <button class="btn btn-link" type="button"><a href="/ru/услуги/реклама-в-броварах">Читать далее</a></button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>Материалы для рекламы
        </div>
        <div class="card-body"><p>Материалы для наружной рекламы и широкоформатной печати. Рекламные материалы в наличии
            и под заказ: ПВХ, композитные панели, акрил, пленки цветные и белые.
          </p>
          <button class="btn btn-link" type="button"><a href="/ru/услуги/материалы-для-рекламы">Читать далее</a></button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="button">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
  </div>
</div>
